body{
    text-align: center;
    font-size: 50px;
}

.alert {
    padding: 20px;
    background-color: #1abc9c;
    color: white;
    margin-bottom: 25px;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

  button{
    font-size: 25px;
    border: none;
    border-radius: 15px;
    padding: 50px;
    background:#1abc9c;
    color: white;
    
}

button:hover {
    border: none;
    border-radius: 15px;
    background-color: #62efcd;
    color: white;
}