body{
    color:#1abc9c;
    text-align: center;
    
    
    
}
.header{
    text-align: center;
    padding: 10px;
    background: #62efcd;
    color: white;
    font-size: 30px;
}
button{
    border: none;
    border-radius: 15px;
    padding: 10px;
    background:#1abc9c;
    color: white;
    
}

button:hover {
    border: none;
    border-radius: 15px;
    background-color: #62efcd;
    color: white;
}

input{
    margin-bottom: 25px;
    text-align: center;

}

form {
    display: inline-block;
    text-align: center;
    

    
}

