body{
    color: blue;
    text-align: center;
}
.header{
    text-align: center;
    padding: 60px;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

button{
    background:#1abc9c;
    color: white;
}

.button {
    transition-duration: 0.4s;
}
  
.button:hover {
    background: #4CAF50; /* Green */
    color: white;
}

input{
    text-align: center;
}

form {
    display: inline-block;
    
}

